.idea/MorphologicalAnalysis.iml
cmake-build-debug/libMorphologicalAnalysis.a
cmake-build-debug/MorphologicalAnalysis.cbp
cmake-build-debug/TestMorphologicalAnalysis
cmake-build-debug/CMakeFiles/3.12.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.12.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.12.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/build.make
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/cmake_clean_target.cmake
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/CXX.includecache
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/depend.internal
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/depend.make
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/FiniteStateMachine.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/flags.make
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/FsmMorphologicalAnalyzer.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/FsmParse.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/FsmParseList.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/InflectionalGroup.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/link.txt
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/MetamorphicParse.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/MorphologicalParse.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/progress.make
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/State.cpp.o
cmake-build-debug/CMakeFiles/MorphologicalAnalysis.dir/Transition.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/build.make
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/CXX.includecache
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/depend.internal
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/depend.make
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/FiniteStateMachine.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/flags.make
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/FsmMorphologicalAnalyzer.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/FsmParse.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/FsmParseList.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/InflectionalGroup.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/link.txt
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/MetamorphicParse.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/MorphologicalParse.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/progress.make
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/State.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/TestMorphologicalAnalysis.cpp.o
cmake-build-debug/CMakeFiles/TestMorphologicalAnalysis.dir/Transition.cpp.o
.idea/encodings.xml
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/codeStyles/Project.xml
cmake-build-debug/deneme.txt
cmake-build-debug/gazete.txt
cmake-build-debug/CMakeFiles/3.12.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.12.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.12.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.12.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.15.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/Makefile
cmake-build-debug/Project.cbp
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/Test.dir/
/cmake-build-debug/Test
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-d75b0e815322e95d70b1.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-a1e1173bc4b78f26308c.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-6e12b813404cd335b7ea.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-04-20T10-23-19-0844.json
/cmake-build-debug/.cmake/api/v1/reply/target-MorphologicalAnalysis-Debug-10f7ec06ed02df56697f.json
/cmake-build-debug/.cmake/api/v1/reply/target-Test-Debug-02ebcc56dfa767d486f9.json
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-da5817a93cdfdbce288c.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-cb384894d2321f1e304f.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f32d751df1dfba2e4bca.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-05-24T14-08-33-0716.json
/cmake-build-debug/.cmake/api/v1/reply/target-MorphologicalAnalysis-Debug-d3f19d0d57519a860311.json
/cmake-build-debug/.cmake/api/v1/reply/target-Test-Debug-914682f1fb0e80665500.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-e9a717f4bcd82da380fe.json
/cmake-build-debug/.cmake/api/v1/reply/index-2022-05-25T04-43-56-0096.json
/cmake-build-debug/.cmake/api/v1/reply/
/cmake-build-debug/bin/Test
/cmake-build-debug/conan.lock
/cmake-build-debug/conanbuildinfo.cmake
/cmake-build-debug/conanbuildinfo.txt
/cmake-build-debug/conaninfo.txt
/cmake-build-debug/graph_info.json
/cmake-build-debug/conan/build/Debug/generators/cmakedeps_macros.cmake
/cmake-build-debug/conan/build/Debug/generators/CMakePresets.json
/src/CMakeUserPresets.json
/cmake-build-debug/conan_host_profile
/conan_provider.cmake
/cmake-build-debug/conan/build/Debug/generators/conan_toolchain.cmake
/cmake-build-debug/conan/build/Debug/generators/conanbuild.sh
/cmake-build-debug/conan/build/Debug/generators/conanbuildenv-debug-x86_64.sh
/cmake-build-debug/conan/build/Debug/generators/conandeps_legacy.cmake
/cmake-build-debug/conan/build/Debug/generators/conanrun.sh
/cmake-build-debug/conan/build/Debug/generators/conanrunenv-debug-x86_64.sh
/cmake-build-debug/conan/build/Debug/generators/corpus-config.cmake
/cmake-build-debug/conan/build/Debug/generators/corpus-config-version.cmake
/cmake-build-debug/conan/build/Debug/generators/corpus-debug-x86_64-data.cmake
/cmake-build-debug/conan/build/Debug/generators/corpus-Target-debug.cmake
/cmake-build-debug/conan/build/Debug/generators/corpusTargets.cmake
/cmake-build-debug/conan/build/Debug/generators/data_structure-config.cmake
/cmake-build-debug/conan/build/Debug/generators/data_structure-config-version.cmake
/cmake-build-debug/conan/build/Debug/generators/data_structure-debug-x86_64-data.cmake
/cmake-build-debug/conan/build/Debug/generators/data_structure-Target-debug.cmake
/cmake-build-debug/conan/build/Debug/generators/data_structureTargets.cmake
/cmake-build-debug/conan/build/Debug/generators/deactivate_conanbuild.sh
/cmake-build-debug/conan/build/Debug/generators/deactivate_conanrun.sh
/cmake-build-debug/conan/build/Debug/generators/dictionary-config.cmake
/cmake-build-debug/conan/build/Debug/generators/dictionary-config-version.cmake
/cmake-build-debug/conan/build/Debug/generators/dictionary-debug-x86_64-data.cmake
/cmake-build-debug/conan/build/Debug/generators/dictionary-Target-debug.cmake
/cmake-build-debug/conan/build/Debug/generators/dictionaryTargets.cmake
/cmake-build-debug/conan/build/Debug/generators/math-config.cmake
/cmake-build-debug/conan/build/Debug/generators/math-config-version.cmake
/cmake-build-debug/conan/build/Debug/generators/math-debug-x86_64-data.cmake
/cmake-build-debug/conan/build/Debug/generators/math-Target-debug.cmake
/cmake-build-debug/conan/build/Debug/generators/mathTargets.cmake
/cmake-build-debug/conan/build/Debug/generators/xml_parser-config.cmake
/cmake-build-debug/conan/build/Debug/generators/xml_parser-config-version.cmake
/cmake-build-debug/conan/build/Debug/generators/xml_parser-debug-x86_64-data.cmake
/cmake-build-debug/conan/build/Debug/generators/xml_parser-Target-debug.cmake
/cmake-build-debug/conan/build/Debug/generators/xml_parserTargets.cmake
